*{
    text-transform: capitalize;
    box-sizing: border-box;
}

.fix{
    border: 1px solid red;
}

.glass-btn{
    background: conic-gradient(from 211.85deg at 97.46% -25.68%, rgba(255, 255, 255, 0) 0deg, rgba(255, 255, 255, 0.796875) 73.13deg, rgba(255, 255, 255, 0) 360deg);
}

.active-work{
    background: linear-gradient(102.03deg, #BC3CD8 -1.85%, #FF6B6B 95.68%);
}

.work-border{
    border: 1px solid transparent;
    border-image-source: linear-gradient(128.11deg, rgba(250, 250, 250, 0.55) 2.61%, rgba(227, 228, 230, 0.11) 87.84%);
}

.work-card1{
    background: linear-gradient(180deg, #F4E1A9 -29.6%, #FBA948 100%);
}

.work-card2{
    background: linear-gradient(117.57deg, #898A8A -46.57%, #222222 98.31%);
}
.work-card3{
    background: linear-gradient(180deg, #A4A4A4 0%, #A0A0A0 100%);
}
.work-card4{
    background: linear-gradient(180deg, #201A2B 0%, #252338 100%);
}

/* .glass-div{
    border-radius: 100%;
    background: linear-gradient(128.11deg, rgba(250, 250, 250, 0.55) 2.61%, rgba(227, 228, 230, 0.11) 87.84%);
} */

.gradient{
    background: linear-gradient(102.03deg, #BC3CD8 -1.85%, #FF6B6B 95.68%);   
    border-radius: 32px;
}
